<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/thesis?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <!-- DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">update</property>-->
        <mapping class="db.pojo.ClassEntity"/>
        <mapping class="db.pojo.DependenciesEntity"/>
        <mapping class="db.pojo.MethodEntity"/>
        <mapping class="db.pojo.ModuleEntity"/>
        <mapping class="db.pojo.RunInfoEntity"/>
        <mapping class="db.pojo.VersionEntity"/>
        <mapping class="db.pojo.ProjectEntity"/>
        <mapping class="db.pojo.BugEntity"/>
        <mapping class="db.pojo.BugFixCommitEntity"/>

    </session-factory>
</hibernate-configuration>